:root{
    --primary-font: 'Sora', sans-serif;
    --body-background: #E5E5E5;
    --wrapper-background: #FDF9F1;
    --gray1e: #1E1E1E;
    --body-size: 1440px;
    --container: 1100px;
    --gap: 15px;
    --gray1: #B5B3AF;
    --gray2: #545454;
    --white: #fff;
    --black: #1E1E1E;

    --primary-button-color: #00BD82;
    --colorDC: #DCD4C5;
    --primary-yellow: #E2F471;
    --primary-background: #E5E5E5;

}